/* Styling for the container */
.container {
    width: 800px;
    height: 400px;
    max-width: 80%;
    background-color: rgb(240, 249, 249);
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    margin-right: auto ;
    margin-left:auto;
    text-align: center;
}

/* Styling for the buttons */
#begin {
    background-color: rgb(44, 4, 105);
    font-size: 24px;
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
    outline: none;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color:rgb(44, 4, 105);
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
    outline: none;
    justify-content: center;
    text-align: center;
}

#submit {
    background-color: rgb(44, 4, 105);
    font-size: 24px;
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
    outline: none;
}

#restart {
    background-color:rgb(44, 4, 105);
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 5px;
    color: white;
    outline: none;
    justify-content: center;
    
}

/* Styling for text content */
#welcome h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#welcome p {
    font-size: 24px;
}

#quiz {
    text-align: center;
}

#game-over {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

#play-again h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}


label #score-info {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

#result {
    font-size: 24px;
    font-weight: bold;
}

/* Format to control whether or not div is hidden or visible */
.hide {
    display:none;
}















