/* Create style for webpage */

/* Centered on screen */

/* Create fonts for answers and questions */

/* Place timer in the upper right hand corner */

/* Style boxes with color and shades */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}